.section-hero {
  position: relative;
  @include bg();
  .table {
    max-width: 984px;
    min-height: 664px;
    height: -webkit-calc(100vh - 102px);
    height: calc(100vh - 102px);
    .container-cell { }
  }

}

  .table {
    position: relative;
    z-index: 10;
    display: table;
    min-height: 649px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 40px 20px 40px;
    .container { }
    .container-cell {
      display: table-cell;
      width: 100%;
      height: 100px;
      vertical-align: middle;
    }
  }

    .hero-title {
      max-width: 600px;
      margin-bottom: 31px;
      font-size: 3.33em;
      font-weight: 700;
      line-height: $line-height-small;
      letter-spacing: -.035em;
    }
      .yellow {
        color: $color-text5;
      }
    .hero-desc {
      max-width: 640px;
      margin-left: 3px;
      line-height: 1.65;
      font-weight: 700;
      > * {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    a.hero-down-btn,
    .hero-down-btn {
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: 7px;
      @include css3-prefix('transform','translate(-50%, 0)');
      animation: move 5s infinite ease;
      -webkit-animation: move 5s infinite ease;
        .fa {
          font-size: 52px;
          color: $white;
        }
      &:hover {
        bottom: 10px;
        animation: none;
        -webkit-animation: none;
      }
    }

@keyframes move {
  0% { transform: translate(-50%, 0); }
  40% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, -7px); }
  60% { transform: translate(-50%, 0); }
  100% { transform: translate(-50%, 0); }
}
@-webkit-keyframes move {
  0% { -webkit-transform: translate(-50%, 0); }
  40% { -webkit-transform: translate(-50%, 0); }
  50% { -webkit-transform: translate(-50%, -7px); }
  60% { -webkit-transform: translate(-50%, 0); }
  100% { -webkit-transform: translate(-50%, 0); }
}

.section-like-to-start {
  padding-top: 55px;
  padding-bottom: 69px;
  color: $color-text4;
  text-align: center;
  background-color: $white;
  .container {
    max-width: 870px;
    padding: 0 20px;
  }
}
  .title {
    margin-bottom: 32px;
    font-size: 1.69rem;
    line-height: $line-height-small;
    letter-spacing: .005em;
    font-weight: 700;
    color: $color-text4;
    text-align: center;
  }

  .like-to-start-list {
    margin: 0 -10px -40px;
    > li {
      display: inline-block;
      width: 24%;
      padding: 0 5px;
      margin-bottom: 40px;
      text-align: center;
      vertical-align: top;
      //&:nth-child(4n + 4) {
      //  clear: both;
      //  //background-color: red;
      //}
    }
  }
      .like-to-start-box {
        margin: 0 auto;
        a {
          color: $color-text4;
          &:hover {
            color: $color-text6;
            text-decoration: none;
            .like-to-start-icon-wrap {
              img {
                display: none;
                &.hover-img {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
        .like-to-start-icon-wrap {
          height: 82px;
          margin-bottom: 4px;
          text-align: center;
          img {
            display: inline-block;
            max-width: 100%;
            height: auto;
            line-height: 82px;
            vertical-align: middle;
            @include transition($transition-other);
            &.hover-img {
              display: none;
            }
          }
        }
      .like-to-start-title {
        margin-bottom: -6px;
        font-size: 1.69rem;
        font-weight: 700;
        line-height: $line-height-small;
      }
      .like-to-start-desc {}

.section-who {
  background-color: #428096;
  .table {
    max-width: 1000px;
    min-height: 877px;
    .container-cell {
      vertical-align: top;
    }
  }
  .content {

  }
}
  .section-big-title {
    margin-bottom: 20px;
    font-size: 3.75em;
    letter-spacing: -.02em;
    text-align: center;
  }
  .section-desc {}
  .who-list {
    > li {}
  }
      .who-list-box {}
        .who-img-box {
          img {}
        }
      .who-box-desc {}

.section-runner {
  position: relative;
  overflow: hidden;
  background-color: #FBC435;
  .table {
    text-align: center;
  }
    .container-cell {}
      .content-runner-box {
        //position: relative;
        //z-index: 15;
      }
      .content {
        position: relative;
        font-size: 1.75rem;
        font-weight: 700;
        letter-spacing: -.01em;
        word-spacing: .1em;
        line-height: 1.4;
        &:after {
          position: absolute;
          content: '';
          z-index: 15;
          top: -32px;
          left: 50%;
          width: 216px;
          height: 156px;
          background-image: url(../../img/home/quote_white@2x.png);
          @include bg();
          @include css3-prefix('transform','translate(-50%, 0)');
        }
        > * {
          position: relative;
          z-index: 21;
        }
      }


  &.football-girl {
    color: $color-text6;
    background-color: $white;
    .table {
      max-width: 1040px;
      min-height: 542px;
    }
      .container-cell { }
        .content-runner-box {
          text-align: right;
        }
          .content {
            display: inline-block;
            max-width: 670px;
            text-align: left;
            &:after {
              left: -46px;
              background-image: url(../../img/home/quote@2x.png);
              @include css3-prefix('transform','translate(0, 0)');
              opacity: .12;
            }
          }
    .bg-img {
      top: -webkit-calc(50% + 1px);
      top: calc(50% + 1px);
    }
  }
}

  .bg-img {
    position: absolute;
    z-index: 5;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: 50%;
    @include css3-prefix('transform','translate(-50%, -50%)');
  }
  .quote {

  }

.section-where {
  .section-title {}
}
  .were-list {
    > li {}
  }
      .where-box {}
        .where-img-box {
          img {}
        }
          .where-circle {}
        .where-info-box {
          a.btn,
          .btn {}
        }
          .where-title-box {}
            .where-title {}

.section-how {
  .section-title {}
}
  .how-list {
    > li {

    }
  }
      .how-box {}
        .how-img-wrap {
          img {}
        }
        .how-title {}
        .how-overlay-box {
          .content {}
          a.btn,
          .btn {}
        }

