.section-level-1 {
  .content-wrap {
    margin-bottom: 80px;
    width: 100%;
    min-height: 150px;
    display: table;
    opacity: 1;
    @include transition($transition-other);
  }
  .content {
    margin: 0 auto;
  }
  .btn {
    margin-top: 105px;
  }
}
.hover .content-wrap {
  opacity: 0.3;
}
  .level-list {
    overflow: hidden;
    @include transition($transition-other);
    > li {
      position: relative;
      float: left;
      width: ($col*3);
      @include transition($transition-other);
      cursor: pointer;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:hover {
        .label-bg-color {
          z-index: 2;
        }
        .level-box {
          .content {
            color: #ffffff;
          }
        }
        .level-img-wrap {
          background: inherit;
          img {
            opacity: 1;
          }
        }
        .bg-box {
          opacity: 1;
        }
      }
      &.shrink-left .label-bg-color {
        @include css3-prefix(transform, scaleX(.92188) translate3d(-12.5px,0,0));
      }
      &.expand .label-bg-color{
        @include css3-prefix(transform, scaleX(1.15625)translate3d(0,0,0));
      }
      &.shrink-right .label-bg-color {
        @include css3-prefix(transform, scaleX(.92188)translate3d(12.5px,0,0));
      }
    }
    &.hover > li {
      &:hover .content-wrap {
        opacity: 1;
      }
      //&:hover .label-bg-color {
      //  -webkit-transform: scaleX(1.15625) translate3d(0,0,0);
      //  transform: scaleX(1.15625) translate3d(0,0,0);
      //}
    }
  }

    .label-bg-color {
      position: absolute;
      z-index: 1;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include css3-prefix(transform, translate3d(0,0,0));
      @include transition($transition-other);
    }
        .level-box {
          position: relative;
          z-index: 5;
          padding: 120px 10px 150px;
          text-align: center;
          .level-title,
          .content {
            max-width: 350px;
          }
          .content {
            color: rgba(255, 255, 255, 0.671);
          }
          .hover &:after {
            position: absolute;
            z-index: 6;
            content: '';
            display: none;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            webkit-transition: background-color .35s, color .35s, margin .45s, -webkit-transform .5s;
            transition: background-color .35s, color .35s,margin .45s, transform .5s;
          }
        }
          .level-list.hover li:hover .level-box:after {
            display: none;
          }

          .level-title {
            margin: 0 auto 28px;
            font: 700 32px $font-main;
            text-transform: uppercase;
          }
          .level-img-wrap {
            position: relative;
            height: 390px;
            line-height: 390px;
            text-align: center;
            background: none;
            background-repeat: no-repeat;
            background-position: center;
            @include transition($transition-other);
            img {
              position: relative;
              z-index: 7;
              max-width: 100%;
              vertical-align: middle;
              opacity: 0.3;
              @include transition($transition-other);
            }
            .bg-box {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 5;
              background-position: center;
              background-repeat: no-repeat;
              opacity: 0;
              @include transition($transition-other);
            }
          }
.section-bottom-nav {
}
  .bottom-nav-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    > li {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      @include transition($transition-other);
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      > a {
        display: block;
        padding: 29px 20px 27px;
        font: 500 20px $font-main;
        text-transform: uppercase;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
    &.hover a {
      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }