.section-level-2 {
}
  .strategy-header {
      display: table;
      width: 100%;
      min-height: 250px;
      padding: 0 0 0 86px;
  }
  .section-title-wrap,
  .info-box {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: ($col*2.55);
    padding: 49px 5px;
    vertical-align: middle;
    @include transition($transition-other);
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .section-title-wrap { }
  .info-box {
    width: ($col*9.45);
  }


    .strategy-label,
    .age-label {
      display: block;
      min-height: 54px;
      font-size: 1.37em;
    }
    .strategy-label {
      margin-top: -10px;
      margin-bottom: 18px;
      padding-right: 20px;
      text-align: right;
    }
    .age-label {
      text-align: left;
    }
    #slash {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0.1;
    }
  .strategy-evaluation-list {
    position: relative;
    display: table;
    overflow: hidden;
    padding: 0 0 0 80px;
    width: 100%;
    min-width: 160px;
    clear: both;
    
    .page-node-edit & {
        display: none;
    }

    &.strategy-title-list:before {
      .hover & {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:not(.strategy-title-list) {
      > li {
        cursor: pointer;
        &:first-child {
          cursor: default;
        }
      }
    }
    > li {
      position: relative;
      z-index: 2;
      display: table-cell;
      width: ($col*1.26);
      padding: 49px 5px;
      text-align: center;
      vertical-align: middle;
      @include transition($transition-other);
      &:first-child {
        width: ($col*1.92);
        text-align: left;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.05);
      }
      &.table-label {
        padding-top: 0;
        padding-bottom: 0;
        .table-label-box {
          position: relative;
          max-width: 200px;
          padding-top: 25px;
          padding-left: 20px;
          margin-left: -20px;
          .section-level-2 & {
            max-width: 250px;
          }
        }
        .strategy-label {
          margin-bottom: 80px;
        }
      }
      a {
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
    &:before {
      position: absolute;
      z-index: 5;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0;
      visibility: hidden;
      @include transition($transition-other);
    }
    .hover &:before {
      opacity: 0.2;
      visibility: visible;
    }
    .hover &:hover:before {
      opacity: 0;
      visibility: hidden;
    }
  }

  .section-title-box {
    display: table;
    width: 100%;
    .strategy-title-icon-wrap,
    .section-title {
      display: table-cell;
      min-height: 20px;
      vertical-align: middle;
    }
    .strategy-title-icon-wrap {
      padding-right: 10px;
      width: 75px;
      text-align: center;

        .page-node-edit & {
          display: none;
        }
    }
  }

  .strategy-title-list {
    > li {
      padding-bottom: 42px;
      vertical-align: top;
      &:first-child {
        vertical-align: middle;
      }
    }
  }

  .strategy-box,
  .evaluation-box {
    position: relative;
    z-index: 2;
  }
  .evaluation-box {
    opacity: 0.4;
    @include transition($transition-other);
    .evaluation {
      display: block;
      height: 55px;
      margin-bottom: 49px;
      font: 400 2em $font-main;
      line-height: 55px;
    }
  }
  .strategy-title-icon-wrap {
    display: inline-block;
    //display: none;

    height: 46px;
    margin-right: 22px;
    vertical-align: middle;
    img {
      opacity: 0.3;
      max-height: 46px;
      max-width: 65px;
      height: auto;
    }
  }
    .strategy-title {
      font: 500 1.13em/1.4 $font-main;
      opacity: 0.4;
      @include transition($transition-other);
      color: white;
    }
  .section-title {
    display: inline-block;
    font: 700 2.81em $font-main;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .locality-title {
    display: inline-block;
    font: 700 2em $font-main;
    text-transform: uppercase;
  }
  .strategy-img-wrap {
    margin-bottom: 12px;
    height: 54px;
    overflow: hidden;
    img {
      max-width: 63px;
      max-height: 54px;
    }
  }

.info-box {
  overflow: hidden;
  position: relative;
  //padding: 50px 0 43px;
  background-color: transparent;
  
  .page-node-edit & {
      display: none;
  }

  .container {
    display: table;
    width: 100%;
    min-height: 150px;
    padding: 0 50px;
    .info-icon-wrap,
    .content-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    .content {
      max-width: 1060px;
    }
  }
  &:before {
    position: absolute;
    z-index: 5;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    @include transition($transition-other);
  }
  //.hover &:before {
  //  opacity: 0.2;
  //  visibility: visible;
  //}
  //.hover &:hover:before {
  //  opacity: 0;
  //  visibility: hidden;
  //}
}
  .info-icon-wrap {
    padding-right: 30px;
    opacity: 0.05;
    img {
      max-width: 112px;
      max-height: 112px;
      height: auto;
      width: auto;
    }
  }
