.section-level-1 {
  position: relative;
  .content-wrap {
    margin-bottom: 80px;
    width: 100%;
    min-height: 150px;
    display: table;
    opacity: 1;
    @include transition($transition-other);
  }
  .content {
    margin: 0 auto;
  }
  .btn {
    margin-top: 105px;
  }
}
.level-1-title-box {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 50px;
  text-align: center;
}
  .level-1-title {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
  }
.hover .content-wrap {
  //opacity: 0.3;
}
  .level-list {
    overflow: hidden;
    @include transition($transition-other);
    > li {
      position: relative;
      float: left;
      width: ($col*3);
      @include transition($transition-other);
      cursor: pointer;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:before {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          opacity: 0;
          visibility: hidden;
          @include transition($transition-other);
      }
      &:hover {
        .label-bg-color {
          z-index: 2;
        }
        .level-box {
          .content {
            color: #ffffff;
          }
        }
        .level-img-wrap {
          background: inherit;
          img {
            opacity: 1;
          }
        }
        .bg-box {
          opacity: 1;
        }
      }
      &.shrink-left {
        .label-bg-color {
          @include css3-prefix(transform, scaleX(.92188) translate3d(-12.5px,0,0));
        }
        .level-box {
          z-index: 5;
        }
        > a {
          &:before {
            z-index: 5;
          }
        }
      }
      &.expand {
        .label-bg-color{
          z-index: 6;
          @include css3-prefix(transform, scaleX(1.15625) translate3d(0,0,0));
        }
        .level-box {
          z-index: 7;
        }
      }
      &.shrink-right {
        .label-bg-color {
          @include css3-prefix(transform, scaleX(.92188) translate3d(12.5px, 0, 0));
        }
        .level-box {
          z-index: 5;
        }
        > a {
          &:before {
            z-index: 5;
          }
        }
      }
      &.color-greenish-blue > a:after {
        background-color: #86B9C0;
      }
      &.color-cobalt-blue > a:after {
        background-color: #8D91A0;
      }
      &.color-grayish-blue > a:after {
        background-color: #AAB1B5;
      }
      &.color-purple-blue > a:after {
        background-color: #A5A1B4;
      }
      > a {
        position: relative;
        display: block;
        &:before {
          position: absolute;
          z-index: 9;
          content: '';
          width: 100%;
          height: 2px;
          top: 91px;
          left: 0;
          background-color: #fff;
          opacity: 0.5;
          @include transition($transition-other);
        }
        &:after {
          position: absolute;
          z-index: 10;
          content: '';
          width: 20px;
          height: 20px;
          top: 91px;
          left: 50%;
          background-color: #fff;
          @include border-radius(50%);
          @include css3-prefix('transform', 'translate(0, -50%) scale(0.8)');
          @include transition($transition-other);
        }
        &:hover {
          &:after {
            background-color: #fff;
            @include css3-prefix('transform', 'translate(0, -50%) scale(1)');
          }
          &:before {
            width: 120%;
            left: -10%;
            opacity: 1;
            background: rgba(255,255,255,0.2);
            background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.2)), color-stop(10%, rgba(255,255,255,0.46)), color-stop(30%, rgba(250,250,250,0.97)), color-stop(70%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,0.47)), color-stop(100%, rgba(255,255,255,0.2)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
          }
        }
      }
      &:first-child > a {
        &:hover {
          &:before {
            width: 110%;
            left: auto;
            right: -10%;
            background: rgba(255,255,255,0.2);
            background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.2)), color-stop(10%, rgba(255,255,255,0.46)), color-stop(30%, rgba(250,250,250,0.97)), color-stop(70%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,0.47)), color-stop(100%, rgba(255,255,255,0.2)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
          }
        }
        &:before {
          width: 90%;
          right: 0;
          left: auto;
          background: rgba(255,255,255,0);
          background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.43) 13%, rgba(255,255,255,1) 30%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(13%, rgba(255,255,255,0.43)), color-stop(30%, rgba(255,255,255,1)));
          background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.43) 13%, rgba(255,255,255,1) 30%);
          background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.43) 13%, rgba(255,255,255,1) 30%);
          background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.43) 13%, rgba(255,255,255,1) 30%);
          background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.43) 13%, rgba(255,255,255,1) 30%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        }
      }
      &:last-child > a {
        &:hover {
          &:before {
            width: 110%;
            left: -10%;
            background: rgba(255,255,255,0.2);
            background: -moz-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.2)), color-stop(10%, rgba(255,255,255,0.46)), color-stop(30%, rgba(250,250,250,0.97)), color-stop(70%, rgba(255,255,255,1)), color-stop(90%, rgba(255,255,255,0.47)), color-stop(100%, rgba(255,255,255,0.2)));
            background: -webkit-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -o-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: -ms-linear-gradient(left, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.46) 10%, rgba(250,250,250,0.97) 30%, rgba(255,255,255,1) 70%, rgba(255,255,255,0.47) 90%, rgba(255,255,255,0.2) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
          }
        }
        &:before {
          width: 90%;
          background: rgba(255,255,255,1);
          background: -moz-linear-gradient(left, rgba(255,255,255,1) 70%, rgba(255,255,255,0.43) 87%, rgba(255,255,255,0) 100%);
          background: -webkit-gradient(left top, right top, color-stop(70%, rgba(255,255,255,1)), color-stop(87%, rgba(255,255,255,0.43)), color-stop(100%, rgba(255,255,255,0)));
          background: -webkit-linear-gradient(left, rgba(255,255,255,1) 70%, rgba(255,255,255,0.43) 87%, rgba(255,255,255,0) 100%);
          background: -o-linear-gradient(left, rgba(255,255,255,1) 70%, rgba(255,255,255,0.43) 87%, rgba(255,255,255,0) 100%);
          background: -ms-linear-gradient(left, rgba(255,255,255,1) 70%, rgba(255,255,255,0.43) 87%, rgba(255,255,255,0) 100%);
          background: linear-gradient(to right, rgba(255,255,255,1) 70%, rgba(255,255,255,0.43) 87%, rgba(255,255,255,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        }
      }
    }
    &.hover > li {
      &:hover .content-wrap {
        opacity: 1;
      }
      &:hover .label-bg-color:after {
        visibility: hidden;
        opacity: 0;
      }
      &:before {
        opacity: 0.2;
        visibility: visible;
      }
    }
  }

    .label-bg-color {
      position: absolute;
      z-index: 1;
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include css3-prefix(transform, translate3d(0,0,0));
      @include transition($transition-other);
      //webkit-transition: background-color .35s, color .35s, margin .45s, -webkit-transform .5s;
      //transition: background-color .35s, color .35s,margin .45s, transform .5s;
      &:after {
        position: absolute;
        z-index: 10;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
        visibility: hidden;
        //webkit-transition: background-color .35s, color .35s, margin .45s, -webkit-transform .5s;
        //transition: background-color .35s, color .35s,margin .45s, transform .5s;
        .hover & {
          opacity: 0.2;
          visibility: visible;
          @include transition($transition-other);
        }
      }
    }
        .level-box {
          position: relative;
          z-index: 5;
          padding: 183px 25px 150px;
          text-align: center;
          .level-title,
          .content {
            max-width: 350px;
          }
          .content {
            color: rgba(255, 255, 255, 0.671);
          }
          //.hover &:after {
          //  position: absolute;
          //  z-index: 6;
          //  content: '';
          //  left: 0;
          //  top: 0;
          //  width: 100%;
          //  height: 100%;
          //  background-color: rgba(255, 255, 0, 0.8);
          //  webkit-transition: background-color .35s, color .35s, margin .45s, -webkit-transform .5s;
          //  transition: background-color .35s, color .35s,margin .45s, transform .5s;
          //}
        }
          //.level-list.hover li:hover .level-box:after {
          //  content: none;
          //}

          .level-title {
            margin: 0 auto 28px;
            font: 700 32px $font-main;
            text-transform: uppercase;
          }
          .level-img-wrap {
            position: relative;
            height: 390px;
            line-height: 390px;
            text-align: center;
            background: none;
            background-repeat: no-repeat;
            background-position: center;
            @include transition($transition-other);
            img {
              position: relative;
              z-index: 7;
              max-width: 100%;
              vertical-align: middle;
              opacity: 0.3;
              @include transition($transition-other);
            }
            .bg-box {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 5;
              background-position: center;
              background-repeat: no-repeat;
              opacity: 0;
              @include transition($transition-other);
            }
          }
.section-bottom-nav {
}
  .bottom-nav-list {
    display: table;
    width: 100%;
    table-layout: fixed;
    > li {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      @include transition($transition-other);
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:before {
        position: absolute;
        content: '';
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        visibility: hidden;
        opacity: 0;
        @include transition($transition-other);
      }
      &:hover {
        opacity: .6;
      }
      > a {
        display: block;
        padding: 29px 20px 27px;
        font: 500 20px $font-main;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
    &.hover > li {
      &:before {
        opacity: 0.2;
        visibility: visible;
      }
      &:hover:before {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

