.section-level-2 {
}
  .strategy-evaluation-list {
    position: relative;
    display: table;
    overflow: hidden;
    padding: 0 0 0 80px;
    width: 100%;
    min-width: 160px;
    clear: both;
    &.strategy-title-list:before {
      .hover & {
        opacity: 0;
        visibility: hidden;
      }
    }
    &:not(.strategy-title-list) {
      > li {
        cursor: pointer;
        &:first-child {
          cursor: default;
        }
      }
    }
    > li {
      position: relative;
      z-index: 2;
      display: table-cell;
      width: ($col*1.35);
      padding: 49px 5px;
      text-align: center;
      vertical-align: middle;
      @include transition($transition-other);
      &:first-child {
        width: ($col*2.55);
        text-align: left;
      }
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.05);
      }
      a {
        &:hover {
          color: $white;
          text-decoration: none;
        }
      }
    }
    &:before {
      position: absolute;
      z-index: 5;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0;
      visibility: hidden;
      @include transition($transition-other);
    }
    .hover &:before {
      opacity: 0.2;
      visibility: visible;
    }
    .hover &:hover:before {
      opacity: 0;
      visibility: hidden;
    }
  }


  .strategy-title-list {
    > li {
      padding-bottom: 42px;
      vertical-align: top;
      &:first-child {
        vertical-align: middle;
      }
    }
  }

  .strategy-box,
  .evaluation-box {
    position: relative;
    z-index: 2;
  }
  .evaluation-box {
    opacity: 0.4;
    @include transition($transition-other);
    .evaluation {
      display: block;
      height: 55px;
      margin-bottom: 49px;
      font: 400 2em $font-main;
      line-height: 55px;
    }
  }
  .strategy-title-icon-wrap {
    display: inline-block;
    height: 46px;
    margin-right: 22px;
    vertical-align: middle;
    img {
      opacity: 0.3;
      max-height: 46px;
      max-width: 65px;
      height: auto;
    }
  }
    .strategy-title {
      font: 500 1.13em/1.4 $font-main;
      opacity: 0.4;
      @include transition($transition-other);
    }
  .section-title {
    display: inline-block;
    font: 700 2.81em $font-main;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .locality-title {
    display: inline-block;
    font: 700 2em $font-main;
    text-transform: uppercase;
  }
  .strategy-img-wrap {
    margin-bottom: 12px;
    height: 54px;
    img {
      max-width: 63px;
      max-height: 54px;
    }
  }

.info-box {
  overflow: hidden;
  position: relative;
  padding: 50px 0 43px;
  background-color: $color-bg-info;
  .container {
    display: table;
    width: 100%;
    min-height: 150px;
    .info-icon-wrap,
    .content-wrap {
      display: table-cell;
      vertical-align: middle;
    }
    .content {
      max-width: 1060px;
    }
  }
  &:before {
    position: absolute;
    z-index: 5;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    @include transition($transition-other);
  }
  .hover &:before {
    opacity: 0.2;
    visibility: visible;
  }
  .hover &:hover:before {
    opacity: 0;
    visibility: hidden;
  }
}
  .info-icon-wrap {
    padding-right: 90px;
    opacity: 0.05;
    img {
      max-width: 152px;
      max-height: 152px;
      height: auto;
      width: auto;
    }
  }
