.inner-section {
  background-color: $inner-bg;
  color: $color-inner;
}
.inner-container {
  width: 100%;
  max-width: 1620px;
  padding: 25px 20px 60px;
  margin: 0 auto;
}
.content-box {
  width: 100%;
  max-width: 680px;
  margin: 0 auto 40px;
  text-align: center;
}

.breadcrumbs {
  margin-bottom: 50px;
  text-align: center;
  color: $color-inner;
  font-size: 16px;
  text-transform: capitalize;
  li {
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    padding-right: 24px;
    &:last-child {
      padding-right: 0;
    }
    &:not(:last-child):after {
      content: '\f054';
      position: absolute;
      top: 3px;
      right: 3px;
      display: inline-block;
      font: normal normal normal 16px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: $color-level3;
    }
    a {
      color: $color-inner;
      &:hover {
        color: $color-level3;
        text-decoration: none;
      }
    }
    a,
    span {
      font-size: 16px;
    }
  }
}

.level3-title {
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 500;
  line-height: 1.2;
}
img.level3-icon {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
  margin-bottom: 12px;
}
.view-asset-list  {
  .view-header {
    border-top: solid 1px #e5edef;
    margin-bottom: 21px;
    text-align: center;
    margin-top: 18px;
    .inner {
      background-color: #f2fafa;
      display: inline-block;
      transform: translateY(-11px);
      padding: 0 25px;
      color: #0cbcc9;
      font-weight: 600;
    }
  }
}
.level3-list {
  margin: 0 -8px;
  text-align: center;
  color: #54636b;
  > li {
    display: inline-block;
    padding: 0 8px;
    width: $col*2.95;
    margin-bottom: 21px;
    vertical-align: top;
    .level3-box {
      overflow: hidden;
      position: relative;
      padding: 35px 45px 32px;
      background-color: $color-bg-white;
      text-align: left;
      @include transition($transition-other);
      &:before {
        content: '';
        position: absolute;
        left: -25px;
        top: 20px;
        display: inline-block;
        background: $color-level3;
        height: 50px;
        width: 50px;
        @include css3-prefix('border-radius', 50%);
      }
      .level3-list-title {
        margin-bottom: 19px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 700;
        color: $color-inner;
        @include transition($transition-other);
        & ~ *:not(.content){
          @include transition($transition-other);
        }
      }
      h5 {
        margin-top: -6px;
        margin-bottom: 16px;
      }
      .content {
        font-size: 14px;
        @include transition($transition-other);
      }
      a {
        font-size: 14px;
        color: $color-level3;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      .level3-link {
        margin-top: 20px;
        display: inline-block;
        @include transition($transition-other);
      }
      &:hover {
        background-color: $color-grayish-blue;
        .level3-list-title {
          color: $white;
          & ~ *:not(.content){
            color: rgba(255, 255, 255, 0.8);
          }
        }
        .level3-link {
          color: #38a9ec !important;
        }
        .content {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

.back-link,
.back-btn-wrapper {
  margin-top: 18px;
  margin-bottom: 20px;
  text-align: center;
  .btn {
    width: auto;
    max-width: 400px;
    padding: 11px 30px 9px;
    border-width: 2px;
    font-size: 12px;
    line-height: 1.25;
    border-color: $color-level3;
    background: transparent;
    color: $color-level3;
    &:hover {
      background: $color-level3;
      color: $white;
    }
    .fa-chevron-left {
      font-size: 13px;
      margin-right: 4px;
    }
  }
}
.back-btn-wrapper {
  .btn {
    position: relative;
    padding-left: 48px;
    &:before {
      content: "\f053";
      position: absolute;
      top: 50%;
      left: 30px;
      margin-top: -6px;
      display: inline-block;
      font: normal normal normal 13px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}