/*fonts*/
/*fonts-size*/
/*line-height*/
/*colors*/
/*transition*/
/*border-radius*/
/*dimensions*/
/*fonts*/
/* VARS FOR THE CUSTOM HEADER EFFECT */
/* VARS FOR THE CUSTOM HEADER EFFECT */
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
  Mixins available:
    -   css3-prefix             - arguments: Property, Value
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-horizontal   - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-radial       - arguments: Start Color: #FFFFFF, Start position: 0%, End Color: #000000, End position: 100%
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   background-opacity      - arguments: Color: #000, Opacity: .85
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Right: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transform-style         - arguments: Style: preserve-3d
    -   transition              - Default arguments: What: all, Length: 1s, Easing: ease-in-out
    -                           - Examples: @include transition (all 2s ease-in-out);
    -                                        @include transition (opacity 1s ease-in 2s, width 2s ease-out);
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0
    -   keyframes               - arguments: Animation name
                                - content:   Animation css
    -   animation               - arguments: name duration timing-function delay iteration-count direction fill-mode play-state
                                             (http://www.w3schools.com/cssref/css3_pr_animation.asp)
------------------------------------------------------------- */
/* fonts */
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Book/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book/Gotham-Book.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Medium/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium/Gotham-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold/Gotham-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
/* fonts end */
/*import global styles */
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 16px/1.5 "Gotham", Arial, sans-serif;
  background: #54595C;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  font-size: 16px;
  vertical-align: middle;
  color: #131617; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  color: #ffffff;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: #38a9ec; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a, .btn {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

a[href^="tel"] {
  cursor: pointer; }
  a[href^="tel"]:hover {
    color: #38a9ec;
    text-decoration: none; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 90px; }

.selector-wrapper {
  width: 66.66667%;
  margin-left: 16.66667%;
  padding: 40px 0 24px 0; }
  .selector-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.color-greenish-blue,
.color-greenish-blue .label-bg-color {
  background-color: #0C7281; }

.color-cobalt-blue,
.color-cobalt-blue .label-bg-color {
  background-color: #1A2340; }

.color-grayish-blue,
.color-grayish-blue .label-bg-color {
  background-color: #54636B; }

.color-purple-blue,
.color-purple-blue .label-bg-color {
  background-color: #4A4268; }

.color-gray-brown,
.color-gray-brown .label-bg-color {
  background-color: #5E4E41; }

.color-khaki,
.color-khaki .label-bg-color {
  background-color: #756A3D; }

.color-basalt-gray,
.color-basalt-gray .label-bg-color {
  background-color: #54595C; }

.content * {
  margin-bottom: 12px; }
  .content *:last-child {
    margin-bottom: 0; }
.content a:hover {
  opacity: 0.7;
  text-decoration: none; }
.content ul, .content ol {
  margin-left: 20px;
  margin-bottom: 20px; }
.content ul > li {
  list-style-type: disc; }
.content ol > li {
  list-style-type: decimal; }
.content li {
  margin-bottom: 10px; }
.content li, .content blockquote {
  text-align: left; }
.content blockquote {
  max-width: 800px;
  margin: 20px auto 0;
  padding-top: 60px;
  text-align: center; }
.content img {
  max-width: 100%;
  height: auto; }
  .content img.alignleft {
    float: left;
    margin: 4px 12px 12px 0; }
  .content img.alignright {
    float: right;
    margin: 4px 0 12px 12px; }
  .content img.aligncenter {
    display: block;
    margin: 0 auto 12px;
    clear: both; }
.content em, .content i {
  font-style: italic !important; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  position: relative;
  min-height: 100%; }

a.btn, .btn {
  position: relative;
  display: inline-block;
  max-width: 270px;
  width: 100%;
  margin: 0;
  padding: 20px 20px 19px;
  font: 500 16px "Gotham", Arial, sans-serif;
  color: #525f8a;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #525f8a;
  background-color: transparent;
  -webkit-border-radius: 2em;
  -khtml-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  cursor: pointer; }
  a.btn:hover, .btn:hover {
    color: #ffffff;
    background-color: #525f8a; }
  .color-greenish-blue a.btn, .color-greenish-blue .btn {
    color: #4bb5c4;
    border-color: #4bb5c4; }
    .color-greenish-blue a.btn:hover, .color-greenish-blue .btn:hover {
      color: #ffffff;
      background-color: #4bb5c4; }
  .color-cobalt-blue a.btn, .color-cobalt-blue .btn {
    color: #525f8a;
    border-color: #525f8a; }
    .color-cobalt-blue a.btn:hover, .color-cobalt-blue .btn:hover {
      color: #ffffff;
      background-color: #525f8a; }
  .color-grayish-blue a.btn, .color-grayish-blue .btn {
    color: #96a1a7;
    border-color: #96a1a7; }
    .color-grayish-blue a.btn:hover, .color-grayish-blue .btn:hover {
      color: #ffffff;
      background-color: #96a1a7; }
  .color-purple-blue a.btn, .color-purple-blue .btn {
    color: #9f8abe;
    border-color: #9f8abe; }
    .color-purple-blue a.btn:hover, .color-purple-blue .btn:hover {
      color: #ffffff;
      background-color: #9f8abe; }

.section-level-1 .level-list > li > a {
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .section-level-1 .level-list > li > a:hover {
    color: #ffffff;
    text-decoration: none; }
.section-level-1 .level-list > li:hover .btn,
.section-level-1 .level-list > li .btn:hover,
.section-level-1 .level-list > li a.btn:hover {
  color: #ffffff; }
.section-level-1 .level-list > li.color-greenish-blue:hover .btn {
  background-color: #4bb5c4; }
.section-level-1 .level-list > li.color-cobalt-blue:hover .btn {
  background-color: #525f8a; }
.section-level-1 .level-list > li.color-grayish-blue:hover .btn {
  background-color: #96a1a7; }
.section-level-1 .level-list > li.color-purple-blue:hover .btn {
  background-color: #9f8abe; }

.header {
  min-height: 70px;
  background: #131617;
  color: #ffffff; }

.header-box {
  position: relative; }

.logo-wrap {
  overflow: hidden;
  float: left;
  padding-top: 20px; }
  .logo-wrap strong {
    display: inline-block;
    margin-top: 1px;
    font: 22px "Myriad Pro", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px; }
    .logo-wrap strong span {
      color: #38a9ec; }

.logo,
a.logo {
  display: inline-block;
  float: left;
  max-width: 124px;
  margin-right: 30px; }
  .logo:hover,
  .logo a:hover,
  a.logo:hover,
  a.logo a:hover {
    text-decoration: none; }
  .logo img,
  a.logo img {
    max-width: 100%;
    height: auto;
    margin-bottom: -5px; }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav > ul {
  float: right;
  margin-right: -20px; }
  .main-nav > ul > li {
    position: relative;
    float: left;
    text-align: center; }
    .main-nav > ul > li:hover .menu {
      opacity: 1;
      visibility: visible;
      margin: 0; }
    .main-nav > ul > li > a {
      position: relative;
      display: inline-block;
      padding: 26px 20px 26px;
      font: 18px "Myriad Pro", Arial, sans-serif;
      color: #ffffff;
      line-height: 1;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer; }
      .main-nav > ul > li > a:hover {
        color: #38a9ec;
        text-decoration: none; }
    .main-nav > ul > li .menu {
      overflow: hidden;
      position: absolute;
      z-index: 999;
      left: 0;
      top: 60px;
      margin: 20px 0 0 0;
      opacity: 0;
      visibility: hidden;
      text-align: left;
      background-color: #131617;
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
      -webkit-transition-duration: 0.35s;
      -o-transition-duration: 0.35s;
      -moz-transition-duration: 0.35s;
      transition-duration: 0.35s;
      transition: all 0.35s ease-in-out; }
      .main-nav > ul > li .menu > li > a {
        position: relative;
        display: inline-block;
        min-width: 150px;
        max-width: 250px;
        padding: 15px 20px 15px;
        font: 18px "Myriad Pro", Arial, sans-serif;
        color: #ffffff;
        line-height: 1;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer; }
        .main-nav > ul > li .menu > li > a:hover {
          color: #38a9ec;
          text-decoration: none; }

.mobile-menu {
  padding-bottom: 30px; }
  .mobile-menu li {
    position: relative; }
    .mobile-menu li a {
      position: relative;
      display: block;
      padding: 15px 35px 13px;
      font: 18px "Myriad Pro", Arial, sans-serif;
      color: #ffffff;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .mobile-menu li a:hover, .mobile-menu li.active-trail > a,
    .mobile-menu li a.active {
      color: #38a9ec;
      text-decoration: none; }
    .mobile-menu li .menu {
      padding-left: 20px; }
      .mobile-menu li .menu a {
        font-size: 16px; }

.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none; }

.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 0;
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s; }
  .mobile-menu-wrap.showing {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s; }
  .showing .mobile-menu-overlay {
    opacity: 1; }

.mobile-menu-box {
  position: absolute;
  width: 370px;
  max-width: 90%;
  height: 100%;
  right: -400px;
  z-index: 2;
  padding-top: 60px;
  background-color: #54595C;
  -webkit-transition: right 0.35s;
  -moz-transition: right 0.35s;
  -o-transition: right 0.35s;
  transition: right 0.35s;
  overflow: auto;
  -webkit-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
  -o-box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2);
  box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.2); }
  .showing .mobile-menu-box {
    right: 0; }

.mobile-menu-toggle {
  position: absolute;
  right: -20px;
  top: 0;
  height: 70px;
  width: 70px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px; }
  .mobile-menu-toggle span:before,
  .mobile-menu-toggle span:after,
  .mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 4px;
    width: 30px;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s; }
  .mobile-menu-toggle span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .mobile-menu-toggle span:before {
    top: -9px; }
  .mobile-menu-toggle span:after {
    bottom: -9px; }
  .mobile-menu-toggle.active span {
    background-color: transparent; }
  .mobile-menu-toggle.active span:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    background-color: #38a9ec; }
  .mobile-menu-toggle.active span:after {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
    background-color: #38a9ec; }

.footer {
  position: relative;
  padding: 60px 0 50px;
  background-color: #131617; }
  .footer:after {
    position: absolute;
    z-index: 10;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
  .footer.hover:after {
    opacity: 1;
    visibility: visible; }
  .footer .container {
    overflow: hidden; }
  .footer .logo, .footer a.logo {
    max-width: 185px;
    max-height: 44px; }

.footer-nav > li {
  float: left; }
  .footer-nav > li > a {
    padding: 10px 10px 10px;
    text-transform: uppercase; }
    .footer-nav > li > a:hover {
      text-decoration: none; }

.copyright {
  font-size: 12px; }
  .copyright a:hover {
    opacity: 0.7;
    text-decoration: none; }

/* styles used throughout site */
.section-level-1 .content-wrap {
  margin-bottom: 80px;
  width: 100%;
  min-height: 150px;
  display: table;
  opacity: 1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
.section-level-1 .content {
  margin: 0 auto; }
.section-level-1 .btn {
  margin-top: 105px; }

.level-list {
  overflow: hidden;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .level-list > li {
    position: relative;
    float: left;
    width: 25%;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    cursor: pointer; }
    .level-list > li:after {
      content: "";
      display: table;
      clear: both; }
    .level-list > li:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.35s;
      -khtml-transition: 0.35s;
      -moz-transition: 0.35s;
      -ms-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
    .level-list > li:hover .label-bg-color {
      z-index: 2; }
    .level-list > li:hover .level-box .content {
      color: #ffffff; }
    .level-list > li:hover .level-img-wrap {
      background: inherit; }
      .level-list > li:hover .level-img-wrap img {
        opacity: 1; }
    .level-list > li:hover .bg-box {
      opacity: 1; }
    .level-list > li.shrink-left .label-bg-color {
      -webkit-transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
      -khtml-transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
      -moz-transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
      -ms-transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
      -o-transform: scaleX(0.92188) translate3d(-12.5px, 0, 0);
      transform: scaleX(0.92188) translate3d(-12.5px, 0, 0); }
    .level-list > li.shrink-left .level-box {
      z-index: 5; }
    .level-list > li.expand .label-bg-color {
      z-index: 6;
      -webkit-transform: scaleX(1.15625) translate3d(0, 0, 0);
      -khtml-transform: scaleX(1.15625) translate3d(0, 0, 0);
      -moz-transform: scaleX(1.15625) translate3d(0, 0, 0);
      -ms-transform: scaleX(1.15625) translate3d(0, 0, 0);
      -o-transform: scaleX(1.15625) translate3d(0, 0, 0);
      transform: scaleX(1.15625) translate3d(0, 0, 0); }
    .level-list > li.expand .level-box {
      z-index: 7; }
    .level-list > li.shrink-right .label-bg-color {
      -webkit-transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
      -khtml-transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
      -moz-transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
      -ms-transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
      -o-transform: scaleX(0.92188) translate3d(12.5px, 0, 0);
      transform: scaleX(0.92188) translate3d(12.5px, 0, 0); }
    .level-list > li.shrink-right .level-box {
      z-index: 5; }
  .level-list.hover > li:hover .content-wrap {
    opacity: 1; }
  .level-list.hover > li:hover .label-bg-color:after {
    visibility: hidden;
    opacity: 0; }
  .level-list.hover > li:before {
    opacity: 1;
    visibility: visible; }

.label-bg-color {
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -khtml-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .label-bg-color:after {
    position: absolute;
    z-index: 10;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden; }
    .hover .label-bg-color:after {
      opacity: 1;
      visibility: visible;
      -webkit-transition: 0.35s;
      -khtml-transition: 0.35s;
      -moz-transition: 0.35s;
      -ms-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }

.level-box {
  position: relative;
  z-index: 5;
  padding: 120px 10px 150px;
  text-align: center; }
  .level-box .level-title,
  .level-box .content {
    max-width: 350px; }
  .level-box .content {
    color: rgba(255, 255, 255, 0.671); }

.level-title {
  margin: 0 auto 28px;
  font: 700 32px "Gotham", Arial, sans-serif;
  text-transform: uppercase; }

.level-img-wrap {
  position: relative;
  height: 390px;
  line-height: 390px;
  text-align: center;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .level-img-wrap img {
    position: relative;
    z-index: 7;
    max-width: 100%;
    vertical-align: middle;
    opacity: 0.3;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }
  .level-img-wrap .bg-box {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: 0.35s;
    -khtml-transition: 0.35s;
    -moz-transition: 0.35s;
    -ms-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s; }

.bottom-nav-list {
  display: table;
  width: 100%;
  table-layout: fixed; }
  .bottom-nav-list > li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .bottom-nav-list > li:after {
      content: "";
      display: table;
      clear: both; }
    .bottom-nav-list > li:before {
      position: absolute;
      content: '';
      z-index: 10;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.35s;
      -khtml-transition: 0.35s;
      -moz-transition: 0.35s;
      -ms-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
    .bottom-nav-list > li > a {
      display: block;
      padding: 29px 20px 27px;
      font: 500 20px "Gotham", Arial, sans-serif;
      text-transform: uppercase;
      cursor: pointer; }
      .bottom-nav-list > li > a:hover {
        color: #ffffff;
        text-decoration: none; }
  .bottom-nav-list.hover > li:before {
    opacity: 1;
    visibility: visible; }
  .bottom-nav-list.hover > li:hover:before {
    opacity: 0;
    visibility: hidden; }

/* media */
/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1280px) {
  .container {
    padding: 0 20px; } }
@media all and (max-width: 1140px) {
  .level-list > li {
    width: 50%; }

  .level-box {
    padding: 50px 10px 70px; }

  .section-level-1 .content-wrap {
    margin-bottom: 30px; }

  .section-level-1 .btn {
    margin-top: 35px; } }
@media all and (max-width: 1024px) {
  .desktop {
    display: none !important; }

  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block; } }
@media all and (max-width: 768px) {
  .wrapper {
    padding-top: 70px; }

  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%; }

  .level-list > li {
    width: 100%; }

  .bottom-nav-list > li {
    display: block; }
    .bottom-nav-list > li > a:hover {
      color: #38a9ec; } }
@media all and (max-width: 420px) {
  .logo-wrap .logo {
    margin-right: 20px; }
  .logo-wrap strong {
    margin-top: 5px;
    font-size: 18px; }

  .mobile-menu li a {
    padding-left: 20px;
    padding-right: 20px; } }
@media all and (max-width: 360px) {
  .container {
    padding: 0 15px; }

  .logo-wrap .logo {
    margin-right: 15px; } }

/*# sourceMappingURL=screen.css.map */
