a.btn, .btn {
    position: relative;
    display: inline-block;
    max-width: 270px;
    width: 100%;
    margin: 0;
    padding: 20px 20px 19px;
    font: 500 16px $font-main;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid $white;
    background-color: transparent;
    @include border-radius($radius-main);
    cursor: pointer;
    &:hover {
        color: $black;
        background-color: $white;
    }
    .color-greenish-blue & {
        color: #4bb5c4;
        border-color: #4bb5c4;
        &:hover {
            color: $color-main;
            background-color: #4bb5c4;
        }
    }
    .color-cobalt-blue & {
        color: #525f8a;
        border-color: #525f8a;
        &:hover {
            color: $color-main;
            background-color: #525f8a;
        }
    }
    .color-grayish-blue & {
        color: #96a1a7;
        border-color: #96a1a7;
        &:hover {
            color: $color-main;
            background-color: #96a1a7;
        }
    }
    .color-purple-blue & {
        color: #9f8abe;
        border-color: #9f8abe;
        &:hover {
            color: $color-main;
            background-color: #9f8abe;
        }
    }
}
a.btn-small, .btn-small {
    min-width: 112px;
    max-width: auto;
    padding: 10px 20px 11px;
    font: 500 14px $font-main;
    text-transform: uppercase;
}

.section-level-1 {
    .level-list > li {
        > a {
            @include transition($transition-other);
            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
        &:hover .btn,
        .btn:hover,
        a.btn:hover {
            color: $color-main;
        }
        &.color-greenish-blue:hover .btn {
            background-color: #4bb5c4;
        }
        &.color-cobalt-blue:hover .btn {
            background-color: #525f8a;
        }
        &.color-grayish-blue:hover .btn {
            background-color: #96a1a7;
        }
        &.color-purple-blue:hover .btn {
            background-color: #9f8abe;
        }
    }
}
.section-level-2 {
    .strategy-evaluation-list > li {
        @include transition($transition-other);
        &:hover .btn-small,
        .btn-small:hover,
        a.btn-small:hover {
            color: $black;
            background-color: $white;
        }
    }
}