/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; @include font(); background: $color-bg; color: $white;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:14px; vertical-align:middle; color:#131617; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { color: $white; text-decoration:none; }
a:hover                        { text-decoration:underline; color: #38a9ec; }
/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.no-float                      { float:none !important; }
.no-border                     { border:0 !important; }
.no-bg                         { background:none !important; }
.no-margin                     { margin:0 !important; }
.no-padding                    { padding:0 !important; }
.no-display                    { display:none !important; }
.display                       { display:block !important; }
.inline                        { display:inline !important; }
.overflow                      { overflow:hidden !important; }
.align-r                       { text-align:right !important; }
.align-l                       { text-align:left !important; }
.align-c                       { text-align:center !important; }
.clear                         { clear:both; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a, .btn {
    @include transition($transition-link);
}
a[href^="tel"] {
    cursor: pointer;
    &:hover {
        color: #38a9ec;
        text-decoration: none;
    }
}
img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 90px;
}
.selector-wrapper {
    width: ($col*8);
    margin-left: ($col*2);
    padding: 40px 0 24px 0;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.color-greenish-blue,
.color-greenish-blue .evaluation-bg,
.color-greenish-blue .label-bg-color {
    background-color: $color-greenish-blue;
    //.hover & {
    //    background-color: #11363C;
    //}
}
//.hover .color-greenish-blue:hover,
//.hover .color-greenish-blue:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-greenish-blue;
//}

.color-cobalt-blue,
.color-cobalt-blue .evaluation-bg,
.color-cobalt-blue .label-bg-color {
    background-color: $color-cobalt-blue;
    //.hover & {
    //    background-color: #1A1A34;
    //}
}
//.hover .color-cobalt-blue:hover,
//.hover .color-cobalt-blue:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-cobalt-blue;
//}

.color-grayish-blue,
.color-grayish-blue .evaluation-bg,
.color-grayish-blue .label-bg-color {
    background-color: $color-grayish-blue;
    //.hover & {
    //    background-color: #293134;
    //}
}
//.hover .color-grayish-blue:hover,
//.hover .color-grayish-blue:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-grayish-blue;
//}

.color-purple-blue,
.color-purple-blue .evaluation-bg,
.color-purple-blue .label-bg-color {
    background-color: $color-purple-blue;
    //.hover & {
    //    background-color: #2D2534;
    //}
}
//.hover .color-purple-blue:hover,
//.hover .color-purple-blue:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-purple-blue;
//}

.color-gray-brown,
.color-gray-brown .evaluation-bg,
.color-gray-brown .label-bg-color {
    background-color: $color-gray-brown;
    //.hover & {
    //    background-color: #282420;
    //}
}
.local {
    @extend .color-gray-brown; 
}
//.hover .color-gray-brown:hover,
//.hover .color-gray-brown:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-gray-brown;
//}

.color-khaki,
.color-khaki .evaluation-bg,
.color-khaki .label-bg-color  {
    background-color: $color-khaki;
    //.hover & {
    //    background-color: #2C2C20;
    //}
}
.national {
    @extend .color-khaki;
}
//.hover .color-khaki:hover,
//.hover .color-khaki:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-khaki;
//}

.color-basalt-gray,
.color-basalt-gray .evaluation-bg,
.color-basalt-gray .label-bg-color  {
    background-color: $color-basalt-gray;
    //.hover & {
    //    background-color: #24282B;
    //}
}
.state {
    @extend .color-basalt-gray;
}
//.hover .color-basalt-gray:hover,
//.hover .color-basalt-gray:hover .label-bg-color {
//    @include transition($transition-other);
//    background-color: $color-basalt-gray;
//}


.content {
    * {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        &:hover {
            opacity: 0.7;
            text-decoration: none;
        }
    }
    ul, ol {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    ul > li {
        list-style-type: disc;
    }
    ol > li {
        list-style-type: decimal;
    }
    li {
        margin-bottom: 10px;
    }
    li, blockquote {
        text-align: left;
    }
    blockquote {
        max-width: 800px;
        margin: 20px auto 0;
        padding-top: 60px;
        text-align: center;
    }
    img {
        max-width: 100%;
        height: auto;
        &.alignleft {
            float: left;
            margin: 4px 12px 12px 0;
        }
        &.alignright {
            float: right;
            margin: 4px 0 12px 12px;
        }
        &.aligncenter{
            display: block;
            margin: 0 auto 12px;
            clear: both;
        }
    }
    em, i {
        font-style: italic !important;
    }
}

    /*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    position: relative;
    min-height: 100%;
    margin-bottom: -161px;

    overflow: hidden;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 161px;
    }
}
