.header {
    min-height: 70px;
    background: #131617;
    color: #ffffff;
}
    .header-box {
        position: relative;
    }
        .logo-wrap {
            overflow: hidden;
            float: left;
            padding-top: 20px;
            strong {
                display: inline-block;
                margin-top: 1px;
                font: 22px $font-navigation;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                span {
                    color: $color-logo-text;
                }
            }
        }

            a.logo:hover, .logo a:hover,
            a.footer-logo:hover, .footer-logo a:hover {
                text-decoration: none;
            }
            .logo {
                display: inline-block;
                float: left;
                max-width: 125px;
                margin-right: 40px;
                img {
                    max-width: 100%;
                    height: auto;
                    margin-bottom: -3px;
                }
            }

.mobile-menu-wrap,
.mobile-menu-toggle {
    display: none;
}