.header {
    position: relative;
    z-index: 990;
    min-height: 70px;
    background: #131617;
    color: #ffffff;
}
.header-box {
    position: relative;
}
.logo-wrap {
    overflow: hidden;
    float: left;
    padding-top: 20px;
    strong {
        display: inline-block;
        margin-top: 1px;
        font: 22px $font-nav;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        span {
            color: $color-logo-text;
        }
    }
}
.logo,
a.logo {
    display: inline-block;
    float: left;
    max-width: 124px;
    margin-right: 30px;
    &:hover,
    a:hover {
        text-decoration: none;
    }
    img {
        max-width: 100%;
        height: auto;
        margin-bottom: -5px;
    }
}


.sport-package-menu {
    background-color: #232424;
    text-align: center;

    li {
        display: inline-block;
        margin: 0 5px;
    }
    a, span {
        color: #a2a2a2;
        display: inline-block;
        padding: 4px 12px;
        font-weight: 600;
    }
    span {
        background-color: #2f3538;
    }

    @media (max-width: $screen-sm-max) {
        display: none;
    }
}