/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    > ul {
        float: right;
        margin-right: -20px;
        > li {
            position: relative;
            float: left;
            text-align: center;
            > a {
                position: relative;
                display: inline-block;
                padding: 26px 20px 26px;
                font: $size-nav $font-nav;
                color: $color-main;
                line-height: 1;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                &:hover {
                    color: #38a9ec;
                    text-decoration: none;
                }
            }
        }
    }
}

.mobile-menu {
    padding-bottom: 70px;
    li {
        position: relative;
        a {
            position: relative;
            display: block;
            font: 16px $font-main;
            padding: 15px 35px 13px;
            color: #40464b;
        }
        a:hover,
        &.active-trail > a,
        a.active {
            color: #38a9ec;
            text-decoration: none;
        }
    }
}