/*--------------------------------------NAV-----------------------------------------*/
.main-nav {
    > ul {
        float: right;
        margin-right: -20px;
        > li {
            position: relative;
            display: inline-block;
            float: left;
            text-align: center;
            cursor: pointer;
            a {
                position: relative;
                display: inline-block;
                padding: 26px 20px 26px;
                font:  $size-navigation $font-navigation;
                color: $color-main;
                line-height: 1;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    color: #fb7e22;
                    text-decoration: none;
                }
            }
        }
    }
}

.mobile-menu {
    padding-bottom: 70px;
    > li {
        position: relative;
        > a {
            position: relative;
            display: block;
            font:  16px 'proximanova-semibold', Arial, sans-serif;
            padding: 15px 35px 13px;
            color: #40464b;
        }
        a:hover,
        &.current-menu-item > a {
            color: #fb7e22;
            text-decoration: none;
        }
    }
    > .current-menu-item > a,
    > li > a:hover {
        text-decoration: none;
    }
    .expanded:after {
        content: "\f107";
        font-family: FontAwesome;
        font-size: 16px;
        line-height: 1;
        text-indent: 0;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        right: 10px;
        display: inline-block;
        color: #770700;
    }
    &:hover:after {
        color: #0097de;
    }
    &.open:after {
        content: "\f106";
    }
}