/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {
  .container {
        padding: 0 20px;
    }

  .evaluation-list-wrap {
    overflow: hidden;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
    .strategy-header {
      padding: 0 15px;
    }
    .strategy-evaluation-list {
      display: table-cell;
      padding: 0;
      clear: none;
      width: 25%;
      vertical-align: top;
      > li {
        display: block;
        width: 100%;
        padding: 30px 20px;
        &:first-child {
          width: 100%;
        }
      }
    }
    .strategy-title-list {
      > li {
        vertical-align: middle;
      }
    }
  .evaluation-box {
    .evaluation {
      margin-bottom: 30px;
    }
  }
  .strategy-title-list > li:first-child,
  .strategy-evaluation-list > li:first-child {
    text-align: center;
  }

  .section-level-2-2 {
    .strategy-evaluation-list {
      display: table;
      width: 100%;
      table-layout: fixed;
      > li {
        display: table-cell;
        width: ($col*2.5);
        &.table-label {
          padding-left: 0;
          padding-right: 0;
          .table-label-box {
            max-width: 100%;
          }
          .strategy-label {
            padding-right: 40px;
          }
          .age-label {
            padding-left: 20px;
          }
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .footer-nav > li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .level3-list > li {
    width: $col*3.9;
  }
}

@media all and (max-width: 1140px) {
  .level-list {
    > li {
      width: 50%;
    }
  }
  .level-box {
    padding: 50px 10px 70px;
  }
  .section-level-1 .content-wrap {
    margin-bottom: 30px;
  }
  .section-level-1 .btn {
    margin-top: 35px;
  }
  li.table-label {
    padding: 32px 5px;
  }
  .age-label {
    padding-top: 25px;
  }

}

@media all and (max-width: 1024px) {
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block;
  }
  .footer {
    padding: 40px 0 35px;
    .container {
      display: table;
    }
    .footer-logo-wrap {
      display: table-header-group;
      text-align: center;
    }
    .logo, a.logo {
      float: none;
    }
    .footer-nav {
      display: table-cell;
      padding: 20px 0;
    }
    .copyright {
      float: none;
      display: table-footer-group;
      text-align: center;
    }
  }
  .locality-title {
    font-size: 1.4em;
  }
  //.strategy-title-icon-wrap {
  //  display: block;
  //  margin-right: 0;
  //}
  .section-title {
    font-size: 2.4em;
  }
}

@media all and (max-width: 991px) {
  .section-title-wrap {
    display: block;
    width: 100%;
    padding: 30px 0;
  }
  .section-level-2-2 .section-title {
    padding: 0;
    margin: 0;
  }
  .info-box {
    display: block;
    width: 100%;
    padding: 0 0 30px;
    .container {
      padding: 0;
    }
  }
  .info-icon-wrap {
    padding-right: 30px;
    img {
      max-width: 80px;
    }
  }
  .section-level-2-2 {
    .strategy-evaluation-list {
      > li {
        &.table-label {
          padding-bottom: 0;
          .table-label-box {
            padding-bottom: 20px;
          }
          .strategy-label {
            padding-right: 20px;
          }
          .age-label {
            padding-left: 0;
          }
        }
      }
    }
  }
  .section-level-2-2 .strategy-title-list > li.table-label .table-label-box .strategy-label {
    margin-bottom: 10px;
  }
}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {
  .level3-list > li {
    width: $col*5.95;
  }
}
@media all and (max-width: 800px) {
  .section-level-2-2 {
    .evaluation-list-wrap {
      display: block;
      overflow-x: scroll;
    }
    .strategy-evaluation-list {
      min-width: 800px;
    }
  }
}

@media all and (min-width: 768px) {
  a.btn, .btn {
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
     .strategy-evaluation-list {
      > li {
        &:hover .btn-small,
        .btn-small:hover,
        a.btn-small:hover {
          color: $black;
          background-color: $white;
        }
      }
      &.color-purple-blue {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-purple-blue;
          }
        }
      }
      &.color-gray-brown {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-gray-brown;
          }
        }
      }
      &.color-basalt-gray {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-basalt-gray;
          }
        }
      }
      &.color-khaki {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-khaki;
          }
        }
      }
    }

    .section-level-2-2 {
      .strategy-evaluation-list {
        > li {
          &:nth-child(2) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-greenish-blue;
            }
          }
          &:nth-child(3) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-cobalt-blue;
            }
          }
          &:nth-child(4) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-grayish-blue;
            }
          }
          &:nth-child(5) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-purple-blue;
            }
          }
        }
      }
    }
  .section-level-2-2 {
    .strategy-evaluation-list {
      &:hover .strategy-box,
      &:hover .strategy-title {
        opacity: 1;
      }
    }
  }
  .strategy-evaluation-list {
    > li {
      &:hover .evaluation-box {
        opacity: 1;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .wrapper {
    padding-top: 70px;
  }
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
  }
  .level-list {
      > li {
          width: 100%;
      }
  }
  .bottom-nav-list {
    > li {
      display: block;
      > a {
        &:hover {
          color: $color-logo-text;
        }
      }
    }
  }
  .strategy-title-list,
  .strategy-evaluation-list {
    > li {
      padding: 30px 5px;
    }
  }
  .white-popup {
    max-width: 580px;
    margin: 20px auto;
    padding: 30px 40px 54px;
  }

}

@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {
  .evaluation-list-wrap {
    display: block;
    overflow-x: scroll;
  }
  .info-box .container .info-icon-wrap,
  .info-box .container .content-wrap {
    display: block;
    text-align: center;
  }
  .info-icon-wrap {
    margin-bottom: 30px;
    padding-right: 0;
  }

  .level3-title {
    font-size: 40px;
  }
  .level3-list > li {
    width: $col*12;
  }
  .left-form-box,
  .right-form-box {
    width: 100%;
  }

}

@media all and (max-width: 560px) {

}

@media all and (max-width: 480px) {
  .footer-nav {
    > li {
      display: block;
      margin-top: 12px;
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
  .logo-wrap strong {
    letter-spacing: 0;
  }
  .left-form-box,
  .right-form-box {
    padding: 0;
  }
  .left-check-box,
  .right-check-box {
    width: 100%;
  }
}

@media all and (max-width: 420px) {
  .logo-wrap {
    .logo {
      margin-right: 20px;
    }
    strong {
      margin-top: 5px;
      font-size: 18px;
    }
  }
  .mobile-menu {
    li {
      a {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

@media all and (max-width: 360px) {
  .container {
    padding: 0 15px;
  }
  .logo-wrap {
    .logo {
      margin-right: 15px;
    }
  }
  .back-link .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media all and (max-width: 320px) {

}