/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}

@media all and (max-width: 1400px) {

}

@media all and (max-width: 1280px) {
    .container {
        padding: 0 20px;
    }
}

@media all and (max-width: 1199px) {

}

@media all and (max-width: 1080px) {

}

@media all and (max-width: 1024px) {
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block;
  }
  .level-list {
    > li {
      width: 50%;
    }
  }
  .level-box {
    padding: 50px 10px 70px;
  }
  .section-level-1 .content-wrap {
    margin-bottom: 30px;
  }
  .section-level-1 .btn {
    margin-top: 35px;
  }
  .bottom-nav-list {
    > li {
      display: block;
      > a {
        &:hover {
          color: $color-logo-text;
        }
      }
    }
  }
}

@media all and (max-width: 991px) {

}

@media all and (max-width: 960px) {

}

@media all and (max-width: 860px) {

}

@media all and (max-width: 768px) {
    .logo-wrap {
        padding-top: 23px;
    }
    .logo, a.logo {
        max-width: 100px;
        margin-right: 15px;
    }
        .logo-wrap strong {
            margin-top: 3px;
            font-size: 16px;
        }
    .level-list {
        > li {
            width: 100%;
        }
    }
}

@media all and (max-width: 640px) {

}

@media all and (max-width: 560px) {

}

@media all and (max-width: 480px) {

}

@media all and (max-width: 420px) {

}

@media all and (max-width: 360px) {

}

@media all and (max-width: 320px) {

}