/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (min-width: 1920px) {

}

@media all and (max-width: 1600px) {
  .strategy-evaluation-list {
    padding-left: 40px;
  }
  .how-overlay-box {
    padding-left: 20px;
    padding-right: 20px;
  }
    .how-overlay-title {
      margin-bottom: 14px;
    }
  .how-img-wrap {
    width: 172px;
    height: 172px;
    line-height: 172px;
  }
}

@media all and (max-width: 1280px) {
  .section-level-3 {
    .view-asset-search {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .container {
        padding: 0 20px;
    }
  .table {
    padding: 40px 20px 40px;
  }
  .evaluation-list-wrap {
    overflow: hidden;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
    .strategy-header {
      padding: 0 15px;
    }
    .strategy-evaluation-list {
      display: table-cell;
      padding: 0;
      clear: none;
      width: 25%;
      vertical-align: top;
      > li {
        display: block;
        width: 100%;
        padding: 30px 20px;
        &:first-child {
          width: 100%;
        }
      }
    }
    .strategy-title-list {
      > li {
        vertical-align: middle;
      }
    }
  .evaluation-box {
    .evaluation {
      margin-bottom: 30px;
    }
  }
  .strategy-title-list > li:first-child,
  .strategy-evaluation-list > li:first-child {
    text-align: center;
  }
  .strategy-evaluation-list {
    > li {
      &.table-label {
        padding-left: 0;
        padding-right: 0;
        .table-label-box {
          max-width: 100% !important;
          padding-bottom: 20px;
          margin-left: 0;
        }
        .strategy-label {
          margin-bottom: 20px;
        }
      }
    }
  }

  .section-level-2 {
    .strategy-evaluation-list {
      > li {
        &.strategy-title-cell {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  .section-level-2-2 {
    .strategy-evaluation-list {
      display: table;
      width: 100%;
      table-layout: fixed;
      > li {
        &.table-label {
          padding-bottom: 0;
        }
        .table-label-box {
          padding-bottom: 20px;
        }
        display: table-cell;
        width: ($col*2.5);
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .level3-list > li {
    width: $col*3.9;
  }
}

@media all and (max-width: 1140px) {
  .level-list {
    > li {
      width: 50%;
    }
  }
  .level-box {
    padding: 150px 10px 70px;
  }
  .section-level-1 .content-wrap {
    margin-bottom: 30px;
  }
  .section-level-1 .btn {
    margin-top: 35px;
  }
  li.table-label {
    padding: 32px 5px;
  }
  .age-label {
    padding-top: 25px;
  }
}

@media all and (max-width: 1120px) {
  .section-level-3 {
    .view-filters {
      padding-right: 20px;
      h1 {
        display: block;
        text-align: center;
        margin-bottom: 14px;
        padding-right: 0;
      }
    }
    .icon_legend {
      top: auto;
      bottom: 29px;
      @include css3-prefix('transform', 'translate(0, 0)');
    }
    .views-widget-filter-combine {
      margin-left: 8px;
      margin-right: 6px;
    }
    .views-reset-button,
    .views-submit-button {
      .js & {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }
}

@media all and (max-width: 1090px) {
  .main-nav > ul > li > a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media all and (max-width: 1024px) {
  .desktop {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-category-toggle,
  .mobile-menu-toggle {
    display: block;
  }
  // .footer {
  //   padding: 40px 0 35px;
  //   .container {
  //     display: table;
  //   }
  //   .footer-logo-wrap {
  //     display: table-header-group;
  //     text-align: center;
  //   }
  //   .logo, a.logo {
  //     float: none;
  //   }
  //   // .footer-nav {
  //   //   display: table-cell;
  //   //   padding: 20px 0;
  //   // }
  //   // .copyright {
  //   //   float: none;
  //   //   display: table-footer-group;
  //   //   text-align: center;
  //   // }
  // }
  .locality-title {
    font-size: 1.4em;
  }
  .section-title {
    font-size: 2.4em;
  }
  .section-level-3 {
    #views-exposed-form-asset-search-page {
      display: block;
    }
    .views-exposed-widgets {
      max-width: 640px;
      margin: 0 auto -20px;
      text-align: center;
    }
    .view-filters {
      max-width: 640px;
      margin: 0 auto 24px;
      padding-right: 20px;
      h1 {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
        text-align: center;
      }
    }
    .icon_legend {
      position: inherit;
      right: 0;
      top: 0;
      bottom: auto;
      margin-bottom: 10px;
      text-align: center;
    }
    .views-widget-filter-combine {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
    .views-exposed-widget:not(.views-widget-filter-combine) {
      .views-widget {
        position: fixed;
        z-index: 99999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        & > .form-item {
          max-width: 420px;
          margin: 0 auto;
        }
      }
    }
  }
  .how-list {
    > li {
      &:nth-child(4) {
        .how-box {
          border-top: 1px solid rgba(255, 255, 255, .1);
        }
      }
      &:nth-child(4n + 4) {
        .how-box {
          border-right: 1px solid rgba(255, 255, 255, .1);
        }
      }
      &:nth-child(4n + 1) {
        .how-box {
          border-left: 1px solid rgba(255, 255, 255, .1);
        }
      }
      &:nth-child(3n + 3) {
        border-right: none;
      }
      &:nth-child(3n + 1) {
        border-left: none;
      }
    }
  }
  .section-hero {
    .table {
      padding-top: 30px;
      height: 480px;
    }
  }
  //.section-who {
  //  .table {
  //    min-height: 640px;
  //  }
  //}
  .section-runner {
    .table{
      height: 600px;
    }
  }
  .section-who .section-big-title {
    font-size: 3.1em;
  }
  .section-big-title {
    font-size: 3.25em;
  }
  .section-runner .content {
    font-size: 1.5em;
  }
  .how-box-open-popup {
    display: block;
  }
  .how-title {
    font-size: 1.2em;
  }
}

@media all and (max-width: 991px) {
  .section-title-wrap {
    display: block;
    width: 100%;
    padding: 30px 0;
  }
  .section-level-2-2 .section-title {
    padding: 0;
    margin: 0;
  }
  .info-box {
    display: block;
    width: 100%;
    padding: 0 0 30px;
    .container {
      padding: 0;
    }
  }
  .info-icon-wrap {
    padding-right: 30px;
    img {
      max-width: 80px;
    }
  }
    .strategy-evaluation-list {
      > li {
        &.table-label {
          padding-bottom: 0;
          .table-label-box {
            padding-bottom: 20px;
          }
          .strategy-label {
            padding-right: 20px;
            //margin-bottom: 20px;
          }
          .age-label {
            padding-left: 0;
          }
        }
      }
    }
  .were-list {
    > li {
      width: 33.33%;
    }
  }

}

@media all and (max-width: 960px) {
  .section-runner.football-girl .content {
    margin-left: 240px;
  }
}

@media all and (max-width: 860px) {
  .level3-list > li {
    width: $col*5.95;
  }
}
@media all and (max-width: 800px) {
  .section-level-2-2 {
    .evaluation-list-wrap {
      display: block;
      overflow-x: scroll;
    }
    .strategy-evaluation-list {
      min-width: 800px;
    }
  }
  .who-list {
    > li {
      width: 32%;
    }
  }
  .were-list {
    > li {
      width: 50%;
    }
  }
}

@media all and (min-width: 768px) {
  a.btn, .btn {
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
     .strategy-evaluation-list {
      > li {
        &:hover .btn-small,
        .btn-small:hover,
        a.btn-small:hover {
          color: $black;
          background-color: $white;
        }
      }
      &.color-purple-blue {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-purple-blue;
          }
        }
      }
      &.color-gray-brown {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-gray-brown;
          }
        }
      }
      &.color-basalt-gray {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-basalt-gray;
          }
        }
      }
      &.color-khaki {
        > li {
          &:hover .btn-small,
          .btn-small:hover,
          a.btn-small:hover {
            color: $color-khaki;
          }
        }
      }
    }

    .section-level-2-2 {
      .strategy-evaluation-list {
        > li {
          &:nth-child(2) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-greenish-blue;
            }
          }
          &:nth-child(3) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-cobalt-blue;
            }
          }
          &:nth-child(4) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-grayish-blue;
            }
          }
          &:nth-child(5) {
            &:hover .btn-small,
            .btn-small:hover,
            a.btn-small:hover {
              color: $color-purple-blue;
            }
          }
        }
      }
    }
  .section-level-2-2 {
    .strategy-evaluation-list {
      &:hover .strategy-box,
      &:hover .strategy-title {
        opacity: 1;
      }
    }
  }
  .strategy-evaluation-list {
    > li {
      &:hover .evaluation-box {
        opacity: 1;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .wrapper {
    padding-top: 70px;
  }
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
  }
  .level-list {
      > li {
          width: 100%;
      }
  }
  .bottom-nav-list {
    > li {
      display: block;
      > a {
        &:hover {
          color: $color-logo-text;
        }
      }
    }
  }
  .strategy-title-list,
  .strategy-evaluation-list {
    > li {
      padding: 30px 5px;
    }
  }
  .white-popup {
    max-width: 580px;
    margin: 20px auto;
    padding: 30px 40px 54px;
  }
  .level-1-title-box {
    display: none;
  }
  .level-list {
    > li {
      > a {
        &:before,
        &:after {
          content: none;
        }
      }
    }
  }

  .level-box {
   padding-top: 50px;
  }
  .how-list {
    > li {
      &:nth-child(3) {
        .how-box {
          border-top: 1px solid rgba(255, 255, 255, .1);
        }
      }
      &:nth-child(3n + 3) {
        .how-box {
          border-right: 1px solid rgba(255, 255, 255, .1);
        }
      }
      &:nth-child(3n + 1) {
        .how-box {
          border-left: 1px solid rgba(255, 255, 255, .1);
        }
      }
      &:nth-child(even) {
        border-right: none;
      }
      &:nth-child(odd) {
        border-left: none;
      }
    }
  }
  .like-to-start-list {
    > li {
      width: 32%;
    }
  }
  .section-who .section-big-title {
    font-size: 2.4em;
  }
  .section-big-title {
    font-size: 2.5em;
  }
  .section-runner .content {
    font-size: 1.3em;
  }
  .hero-title {
    font-size: 2.5em;
  }
  .hero-desc {
    line-height: 1.3em;
  }
  .section-runner.football-girl .table,
  .section-runner .table {
    height: 400px;
  }
    .bg-img {
      display: none;
    }
  .section-hero {
    .bg-img {
      display: block;
    }
  }
  .section-runner.football-girl .content {
    margin-left: 0;
  }
}

@media all and (max-width: 680px) {

}

@media all and (max-width: 640px) {
  .evaluation-list-wrap {
    display: block;
    overflow-x: scroll;
  }
  .info-box .container .info-icon-wrap,
  .info-box .container .content-wrap {
    display: block;
    text-align: center;
  }
  .info-icon-wrap {
    margin-bottom: 30px;
    padding-right: 0;
  }

  .level3-title {
    font-size: 40px;
  }
  .level3-list > li {
    width: $col*12;
  }
  .left-form-box,
  .right-form-box {
    width: 100%;
  }
  .who-list > li {
    min-width: 150px;
  }
  .who-img-box {
    width: 131px;
    height: 131px;
    line-height: 101px;
    border-width: 15px;
  }
}
@media all and (max-width: 580px) {
  .were-list {
    > li {
      float: none;
      width: 100%;
    }
  }
  .how-list {
    > li {
      width: 50%;
      margin-bottom: 40px;
      &:nth-child(odd) {
        clear: both;
      }
    }
  }
  .how-box {
    width: 100% !important;
    height: auto !important;
    border: none !important;
  }
}
@media all and (max-width: 520px) {
  .who-list > li {
    width: 49%;
  }
  .like-to-start-list {
    > li {
      width: 49%;
    }
  }
}

@media all and (max-width: 480px) {
  .footer-nav {
    > li {
      display: block;
      margin-top: 12px;
      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
  .logo-wrap strong {
    letter-spacing: 0;
  }
  .left-form-box,
  .right-form-box {
    padding: 0;
  }
  .left-check-box,
  .right-check-box {
    width: 100%;
  }
}

@media all and (max-width: 420px) {
  .logo-wrap {
    .logo {
      margin-right: 20px;
    }
    strong {
      margin-top: 5px;
      font-size: 18px;
    }
  }
  .mobile-menu {
    li {
      a {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
  .how-list {
    > li {
      width: 100%;
    }
  }
}

@media all and (max-width: 360px) {
  .container {
    padding: 0 15px;
  }
  .table {
    padding: 40px 15px 40px;
  }
  .section-like-to-start .container {
    padding: 0 15px;
  }
  .logo-wrap {
    .logo {
      margin-right: 15px;
    }
  }
  .back-link .btn {
    padding-left: 25px;
    padding-right: 25px;
  }
  .like-to-start-list {
    > li {
      width: 100%;
    }
  }
  .who-list {
    > li {
      width: 100%;
    }
  }
}

@media all and (max-width: 320px) {

}